REALMARKET_API_KEY=
PYSGRID_SYMBOLS=XAUUSD,EURUSD,GBPUSD,USDJPY,GBPJPY,AUDUSD,USDCAD,NZDUSD,XAGUSD,USOIL
PYSGRID_TIMEFRAME=M1
PYSGRID_DATA_DIR=./data
PYSGRID_PORT=8080
PYSGRID_HOST=0.0.0.0
PYSGRID_MAX_CANDLES=1500
PYSGRID_STALE_SECONDS=120
PYSGRID_RECONNECT_MAX_SECONDS=30
PYSGRID_REST_TIMEOUT_SECONDS=15
PYSGRID_LOG_LEVEL=INFO
